<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerformanceTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F1641441D0DF0C5008DC5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1641581D0DF0C5008DC5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F1641631D0DF0C6008DC5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
